{% extends "service_customer/base.html" %}

{% block title %}Клиенты сервиса рассылки{% endblock %}

{% block content %}
<h1 class="text-center">Клиенты сервиса</h1>
<div class="row">
    <table class="table table-hover text-center align-middle">
        <thead>
        <tr>
            <th class="col-4">Полное Ф.И.О.</th>
            <th class="col-3">Электронная почта</th>
            <th class="col-3">Комментарий</th>
            <th class="col-2">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for client in object_list %}
        <tr>
            <td>{{ client.full_name }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.comment }}</td>
            <td>
                <div class="btn-group btn-group-justified d-flex justify-content-center" role="group">
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary btn-sm w-100" href="{% url 'service_customer:client_detail' client.id %}">Просмотр</a>
                        <a class="btn btn-warning btn-sm w-100" href="{% url 'service_customer:client_update' client.id %}">Редактировать</a>
                        <a class="btn btn-danger btn-sm w-100" href="{% url 'service_customer:client_delete' client.id %}">Удалить</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="btn-group btn-group-justified d-flex justify-content-center" role="group">
                    <div class="btn-group flex-fill" role="group">
                        <a class="btn btn-success btn-sm w-100" href="{% url 'service_customer:client_create' %}">Добавить
                            нового клиента</a>
                    </div>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
{% endblock %}
