{% extends "service_customer/base.html" %}

{% block title %}Просмотр попытки рассылки{% endblock %}

{% block content %}
<h1 class="text-center">Просмотр попытки рассылки</h1>
<table class="table text-center align-middle">
    <tr>
        <th class="col-8 text-end">ID:</th>
        <td class="col-4">{{ mailingattempt.id }}</td>
    </tr>
    <tr>
        <th class="text-end">Рассылка:</th>
        <td>{{ mailingattempt.mailing }}</td>
    </tr>
    <tr>
        <th class="text-end">Дата начала рассылки:</th>
        <td>{{ mailingattempt.attempt_date }}</td>
    </tr>
    <tr>
        <th class="text-end">Статус:</th>
        <td>{{ mailingattempt.status }}</td>
    </tr>
    <tr>
        <th class="text-end">Ответ сервера:</th>
        <td>{{ mailingattempt.server_response }}</td>
    </tr>
    <tr>
        <th></th>
        <th>
            <div class="btn-group btn-group-justified d-flex justify-content-center" role="group">
                <a class="btn btn-danger btn-sm w-100" href="{% url 'service_customer:mailing_attempt_delete' mailingattempt.id %}">Удалить</a>
                <a class="btn btn-secondary btn-sm w-100" href="{% url 'service_customer:mailing_attempt_list' %}">Назад к списку</a>
            </div>
        </th>
    </tr>
</table>
{% endblock %}
