{% extends "service_customer/base.html" %}

{% block title %}Попытки рассылки{% endblock %}

{% block content %}

<h1 class="text-center">Попытки рассылки</h1>
<div class="row">
    <table class="table table-hover text-center align-middle">
        <thead>
        <tr>
            <th class="col-1">ID</th>
            <th class="col-3">Рассылка</th>
            <th class="col-2">Дата начала рассылки</th>
            <th class="col-2">Статус</th>
            <th class="col-2">Ответ сервера</th>
            <th class="col-2">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for mailingattempt in object_list %}
        <tr>
            <td>{{ mailingattempt.id }}</td>
            <td>{{ mailingattempt.mailing }}</td>
            <td>{{ mailingattempt.attempt_date }}</td>
            <td>{{ mailingattempt.status }}</td>
            <td>{{ mailingattempt.server_response }}</td>
            <td>
                <div class="btn-group btn-group-justified d-flex justify-content-center" role="group">
                    <a class="btn btn-primary btn-sm w-100"
                       href="{% url 'service_customer:mailing_attempt_detail' mailingattempt.id %}">Просмотр</a>
                    <a class="btn btn-danger btn-sm w-100"
                       href="{% url 'service_customer:mailing_attempt_delete' mailingattempt.id %}">Удалить</a>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
