{% extends "service_customer/base.html" %}

{% block title %}Рассылки{% endblock %}

{% block content %}

<h1 class="text-center">Рассылки</h1>
<div class="row">
    <table class="table table-hover text-center align-middle">
        <thead>
        <tr>
            <th class="col-1">ID</th>
            <th class="col-2">Клиент</th>
            <th class="col-2">Дата начала</th>
            <th class="col-1">Периодичность</th>
            <th class="col-2">Статус</th>
            <th class="col-1">Тема сообщения</th>
            <th class="col-1">Активна ли подписка?</th>
            <th class="col-2">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for mailing in object_list %}
        <tr>
            <td>{{ mailing.id }}</td>
            <td>{{ mailing.clients.all|join:", " }}</td>
            <td>{{ mailing.start_date }}</td>
            <td>{{ mailing.get_periodicity_display }}</td>
            <td>{{ mailing.get_status_display }}</td>
            <td>{{ mailing.message.body|truncatechars:30 }}</td>
            <td>{% if mailing.active %}Да{% else %}Нет{% endif %}</td>
            <td>
                <div class="btn-group btn-group-justified d-flex justify-content-center" role="group">
                    <a class="btn btn-primary btn-sm w-100"
                       href="{% url 'service_customer:mailing_detail' mailing.id %}">Просмотр</a>
                    <a class="btn btn-warning btn-sm w-100"
                       href="{% url 'service_customer:mailing_update' mailing.id %}">Редактировать</a>
                    <a class="btn btn-danger btn-sm w-100"
                       href="{% url 'service_customer:mailing_delete' mailing.id %}">Удалить</a>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="btn-group btn-group-justified d-flex justify-content-center" role="group">
                    <a class="btn btn-success btn-sm w-100" href="{% url 'service_customer:mailing_create' %}">Добавить
                        новую рассылку</a>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
{% endblock %}
