{% extends "service_customer/base.html" %}

{% block title %}Детали сообщения{% endblock %}

{% block content %}
<h1 class="text-center">Шаблон сообщения</h1>
<div class="row">
    <table class="table text-center align-middle">
        <thead>
        <tr>
            <th class="col-8 text-end">Тема:</th>
            <td class="col-4">{{ message.subject }}</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="text-end">Текст сообщения:</th>
            <td>{{ message.body }}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="btn-group btn-group-justified d-flex justify-content-center" role="group">
                    <a class="btn btn-warning btn-sm w-100"
                       href="{% url 'service_customer:message_update' message.id %}">Редактировать</a>
                    <a class="btn btn-danger btn-sm w-100"
                       href="{% url 'service_customer:message_delete' message.id %}">Удалить</a>
                    <a class="btn btn-secondary btn-sm w-100" href="{% url 'service_customer:message_list' %}">Назад к
                        списку</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}